.chatList {
  flex: 1;
  overflow-y: auto;
  
  .search {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    position: sticky;
  
    .searchBar {
      flex: 1;
      background-color: rgba(17, 20, 32, 0.499);
      display: flex;
      align-items: center;
      gap: 20px;
      border-radius: 10px;
      padding: 10px;

      img {
        width: 20px;
        height: 20px;
      }

      input {
        background-color: transparent;
        border: none;
        outline: none;
        color: white;
        flex: 1;
      }
    }

    .add {
      width: 36px;
      height: 36px;
      background-color: rgba(17, 20, 32, 0.499);
      padding: 10px;
      border-radius: 10px;
      cursor: pointer;
    }
  }

  .item{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid rgba(128, 128, 128, 0.734);
    
    img{
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
    }

    .texts{
      display: flex;
      flex-direction: column;
      gap: 10px;

      span{
        font-weight: 500;
      }

      p{
        font-size: 14px;
        font-weight: 300;
        color: rgba(255, 255, 255, 0.7);
      }
    }
  }
}

/* styles for the scrollbar */
.chatList::-webkit-scrollbar {
  width: 10px;
}

.chatList::-webkit-scrollbar-track {
  background: transparent; 
}

.chatList::-webkit-scrollbar-thumb {
  background: #8888886c; 
  border-radius: 5px;
}

.chatList::-webkit-scrollbar-thumb:hover {
  background: #555; 
}